body {
    font-family: sans-serif;
}

#plainArea {
    position: absolute;
    border: 4px black solid;
    background-color: burlywood;
    top: 10px;
    left: 10px;
}

#paddle {
    position: absolute;
    bottom: 30px;
    left: 228px;
    width: 64px;
    height: 16px;
    background-color: rgb(0, 17, 255);
}

#ball {
    position: absolute;
    top: 8px;
    left: 100px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: rgb(255, 187, 0);
}

#score {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: calc(100% - 10px);
    height: 20px;
    color: white;
    background-color: tomato;
    padding: 5px;
}